USE [Ttblession10]
GO
/****** Object:  Table [dbo].[TtbLession10]    Script Date: 7/3/2024 10:38:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TtbLession10](
	[TtbID] [int] NULL,
	[TtbUserName] [nchar](10) NULL,
	[TtbPassword] [nchar](10) NULL,
	[TtbEmail] [nchar](10) NULL,
	[TtbPhone] [nchar](10) NULL,
	[TtbActive] [nchar](10) NULL
) ON [PRIMARY]
GO
